# Server Configuration
port=8080
domain=http://localhost
mode=development

# Database URI
MONGODB_URI=mongodb_db_uri

#Resend Key
RESEND_API_KEY=resend_api_key

# JWT Secret
ACCESS_TOKEN_SECRET=secret_access_token_key
ACCESS_TOKEN_EXPIRATION=time

REFRESH_TOKEN_SECRET=secret_refresh_token_key
REFRESH_TOKEN_EXPIRATION=time
